* {
  padding     : 0;
  margin      : 0;
  margin-left : auto;
  margin-right: auto;
  font-family: 'Varela Round', sans-serif;
  outline:none;

}
body{
  background: #0e0e0e;
  color: #fff;
  max-width: 625px;
  margin      :auto; 
  overflow-x: hidden;
}

 
.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 12px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}
.form-group input:checked + label:before{
  border: 2px solid #9eff9e !important;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 4px;
  left: 12px;
  width: 6px;
  height: 14px;
  border: solid #9eff9e;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#CreateSquaresField[disabled="disabled"]{
  pointer-events: none; 
}
 #finish_animation{
  width: 100%;
 }
 
.select_style {
  width: 75px !important;
  padding: 10px 0px;
  color: #ccc;
  font-size: 18px;
  background: none;
  border-radius: 10px;
  border: solid;
  outline: none;
  transition: 0.2s ease;
}
.select_style:hover, .select_style:focus , .select_style:target{
  color      : #9eff9e; 
}

.select_style > option{
  background: #0e0e0e;
  text-align: center;
}
.select_style > option:checked{
  background: #262626;
  /* color: #262626; */
  text-align: center;
}
 
.btn_style{
  padding: 10px 10px;
  color: #ccc;
  background: none;
  border-radius: 10px;
  border: solid;
  outline: none;
  transition: 0.2s ease;
}
.btn_style:hover{
  color      : #9eff9e;
}

.line {
  padding: 0px 20px;
}

.line:first-child {
  padding-top: 20px;
}

.line:last-child {
  padding-bottom: 20px;
}
 
.fz-21{
  font-size: 21px;
}
.BoxForBtn { 
  margin: 3px;
  display        : flex;
  justify-content: center;
  align-items    : center;
}
.bg_box{
  background: #262626;
  border-radius: 10px;
}

.squares {
  width        : 75px !important;
  height       : 75px !important; 
  font-size  : 18px; 
  transition: 0.2s ease;
}
.squares:focus{
  transition: 0.2s ease;
  color      : #9eff9e;
}
.squares[data-num="x"] {
  color      : #9eff9e;
  border     : solid; 
  font-weight: bold;
  transition: 0s;
  visibility: hidden;
}

.squares:disabled {
  /* color: #ff98981f; */
  visibility: hidden;
}

.style_box_next>div {
  background: #262626;
}

.style_box_next>div:first-child {
  border-radius: 10px 10px 0px 0px;
}

.style_box_next>div:last-child {
  border-radius: 0px 0px 10px 10px;
}


.confetti{
  opacity: 0;
  width: 100%;
  position: absolute;
  pointer-events: none;   
}
.div_confetti{ 
  opacity: 0;
  width: 100%;
  position: absolute;
  pointer-events: none;
}
.none{
  visibility: hidden;
  display: none;
}
 
/* Animation */
.vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear 3 both;
	        animation: vibrate-1 0.3s linear 3 both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

 
 